.team4 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 300;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
  font-weight: 500;
}

.team4 h5 {
  line-height: 22px;
  font-size: 18px;
}

.team4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  color: #316ce8;
}

@media (max-width: 379px) {
  .col-md-7 {
    padding-left: 31px;
  }
}

@media (max-width: 379px) {
  .col-xxl-6 {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 380px) {
  .col-md-5 {
    width: 100%;
  }
}

@media (min-width: 991px) {
  .col-md-5 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .col-xxl-6 {
    width: 50%;
  }
}

@media (min-width: 991px) {
  .button-game {
    display: flex;
  }
}

@media (max-width: 991px) {
  .button-game {
    display: flex;
  }
}

@media (min-width: 1023px) {
  .button-game {
    display: none;
  }
}

.scratch-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .scratch-game {
    display: none;
  }
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #ffffff;
}

@media (max-width: 768px) {
  .col-xxl-6 {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
}

@media (max-width: 768px) {
  .col-xxl-6 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

